.*.sw?
.session.vim
.DS_Store
node_modules
build
.svelte-kit
package
.env
.env.*
!.env.example
.vercel
.output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
manifest.json
logo.webp
cards.csv
node_modules
party-pics
__pycache__
logcat.log
.serverless
.idea
gameplay/towntag-gameplay.log
